<div class="topnav">
  <a class="active" href="#home"><%= link_to "Home", sub_list_path %></a>
  <a href="#login"><%= link_to "Login", user_login_path %></a>
  <a href="#about"><%= link_to "About Us", page_about_path %></a>
  <a href="#contact"><%= link_to "Contact", page_contact_path %></a>
</div>
<div class="container-fluid text-center">
<div class="alert alert-primary" role="alert">
	<h1>This is where the subscription information will be listed -- the main page of the application</h1>
</div>

<div class="container-fluid text-center">
<%= link_to 'Add New', sub_add_path %>
</div>

  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Monthly Thong -- Free Trial</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Free Trial Ends: Thongtober 5th<br>Amount Due: $1000</p>
  </div>
</div>
<br>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Nuts.com -- Free Trial</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Free Trial Ends: Nutvember 45th<br>Amount Due: $60</p>
  </div>
</div>
<br>
