<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="application.scss"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  	<a class="navbar-brand" href="#">Kill Bills</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><%= link_to 'Subscriptions', subscriptions_path %></a>
        <a class="nav-item nav-link" href="#"><%= link_to 'Contact', page_contact_path %></a>
        <a class="nav-item nav-link" href="#"><%= link_to 'About', page_about_path %></a>
      </div>
    </div>
  </nav>
  <br>
<h1>Check out the site's developers</h1>
<br>
<br>
<br>
<div>
<h1>About Us at "Kill Bills"</h1>
<br>
<p><strong>Kill Bills</strong> is a notification and scheduling application that users
can enter their subscriptions, how frequently payments are expected, and even offer some more
services to possibly subscribe too.</p>
<p>Developed by a team of beautiful, busty, computer boys, <strong>Kill Bills</strong> is looking to offer our users
 an easy and manageable way to monitor our subscriptions and their respective payments!</p>
</div>
<div class="container">
<%= link_to image_tag("AppleMusicImage.jpg"), root_path %>
<div class="middle">
        <div class="text">Brandon Burgess</div>
    </div>

</div>
<div class="someText">
    <p>Brandon did it all</p>
</div>
<br>
<div class="container">
<%= link_to image_tag("LilGuziVert.jpg"), root_path %>
<div class="middle">
        <div class="text">Lil Guzi Vert</div>
    </div>

</div>
<div class="someText">
    <p>Dude gets drunk and has great ideas</p>
</div>
<br>
</body>
</html>
