
<div class="text-center">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
	  <div class="card-header"><%= @subscriptions.service_name %> <p>Free Trial -- </p> <%= @subscriptions.free_trial %></div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Date Subscribed: <%= @subscriptions.date_subscribed %> <br>Date of Payment or Expiration: <%= @subscriptions.date_of_expiration %> <br>Amount Due: $<%= @subscriptions.monthly_payment %></p>
  </div>
</div>
</div>
<br>
<button type="button" class="btn btn-dark"><%= link_to 'Subscription List', subscriptions_path %></button>
